[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "==1.0.0"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev="flask run"
